{% extends "base.html" %}
{% block content %}
<section class="container">
  <div class="row">
    <form method="POST">
      <div class="form-group">
        <label for="pName">Name</label>
        <input type="text" class="form-control" name="name" id="pName" value="{{ person.name }}">
      </div>
      <div class="form-group">
        <label for="pGender">Gender</label>
        <input type="text" class="form-control" name="gender" id="pGender" value="{{ person.gender }}">
      </div>
      <div class="form-group">
        <label for="pAge">Age</label>
        <input type="text" class="form-control" name="age" id="pAge" value="{{ person.age }}">
      </div>
      <div class="form-group">
        <label for="pEyeColor">Eye color</label>
        <input type="text" class="form-control" name="eye_color" id="pEyeColor" value="{{ person.eye_color }}">
      </div>
      <div class="form-group">
        <label for="pHairColo">Hair color</label>
        <input type="text" class="form-control" name="hair_color" id="pHairColor" value="{{ person.hair_color }}">
      </div>
      <div class="form-group">
        <label for="pSpecies">Species</label>
        <select name="species" id="pSpecies">
          {% for s in species %}
          <option
              value="{{ s.id }}"
              {% if person.species_id == s.id %}selected{% endif %}>{{ s.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="pFilms">Films</label>
        <select name="films" id="pFilms" multiple>
          {% for f in films %}
          <option
              value="{{ f.id }}"
              {% if f.selected == true %}selected{% endif %}>{{ f.title }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-default">Save</button>
    </form>
  </div>
</section>
{% endblock %}
