{% extends "base.html" %}
{% block content %}
<section class="container">
  <div class="row">
    <form method="POST">
      <div class="form-group">
        <label for="pName">Name</label>
        <input type="text" class="form-control" name="name" id="pName">
      </div>
      <div class="form-group">
        <label for="pGender">Gender</label>
        <input type="text" class="form-control" name="gender" id="pGender">
      </div>
      <div class="form-group">
        <label for="pAge">Age</label>
        <input type="text" class="form-control" name="age" id="pAge">
      </div>
      <div class="form-group">
        <label for="pEyeColor">Eye color</label>
        <input type="text" class="form-control" name="eye_color" id="pEyeColor">
      </div>
      <div class="form-group">
        <label for="pHairColo">Hair color</label>
        <input type="text" class="form-control" name="hair_color" id="pHairColor">
      </div>
      <div class="form-group">
        <label for="pSpecies">Species</label>
        <select name="species" id="pSpecies">
          {% for s in species %}
          <option value="{{ s.id }}">{{ s.name }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-default">Save</button>
    </form>
  </div>
</section>
{% endblock %}
