{% extends "base.html" %}
{% block content %}
<section class="container">
  <div class="row">
    <h1 class="text-center">{{ person.name }}</h1>
    <div class="row">
      <div class="col-md-4">
        <table class="table table-striped">
          <tr>
            <th>Gender:</th>
            <td>{{ person.gender }}</td>
          </tr>
          <tr>
            <th>Age:</th>
            <td>{{ person.age }}</td>
          </tr>
          <tr>
            <th>Eye color:</th>
            <td>{{ person.eye_color }}</td>
          </tr>
          <tr>
            <th>Hair color:</th>
            <td>{{ person.hair_color }}</td>
          </tr>
          <tr>
            <th>Species:</th>
            <td>{{ person.species }}</td>
          </tr>
          <tr>
            <th>Classification:</th>
            <td>{{ person.classification }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-8">
        <h2>Films</h2>
        <ul>
          {% for f in films %}
          <li><a href="/films/{{ f.id }}/">{{ f.title }}</a></li>
          {% endfor %}
        </ul>
        {% if locations %}
          <h2>Resident</h2>
          <ul>
            {% for l in locations %}
            <li><a href="/locations/{{ l.id }}/">{{ l.name }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="pull-right">
      <a class="btn btn-default btn-primary" href="/people/{{ person.id }}/edit" role="button"><span class="glyphicon glyphicon-edit"></span> Edit</a>
      <form method="POST" style="display: inline">
        <button class="btn btn-default btn-danger" type="submit"><span class="glyphicon glyphicon-remove"></span> Delete</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
