{% extends "base.html" %}
{% block content %}
<style>
.image img {
  width: 100%;
}
.image a {
  margin: 20px 0;
}
</style>
<section class="container film-details">
  <div class="row">
    <div class="col-md-4 image">
      {% if film.image_url %}
      <img src="{{ film.image_url }}" />
      {% endif %}
      {% if film.link %}
      <a class="pull-right" href="{{ film.link }}">Go to The Movie DB</a>
      {% endif %}
    </div>
    <div class="col-md-8">
      <h1>{{ film.title }} ({{ film.release_date }})</h1>
      <dl>
        <dt>Director:</dt>
        <dd>{{ film.director }}</dd>
        <dt>Producer:</dt>
        <dd>{{ film.producer }}</dd>
        <dt>Score (Rotten Tomato):</dt>
        <dd>{{ film.rt_score }}</dd>
      </dl>
      <h2>Description</h2>
      <p>{{ film.description }}</p>
      {% if locations %}
      <h2>Locations</h2>
      <ul>
        {% for l in locations %}
        <li><a href="/locations/{{ l.id }}/">{{ l.name }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if people %}
      <h2>People</h2>
      <ul>
        {% for p in people %}
        <li><a href="/people/{{ p.id }}/">{{ p.name }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if vehicle %}
      <h2>Vehicle</h2>
      <table class="table table-striped">
        <tr>
          <th>Name:</th>
          <td>{{ vehicle.name }}</td>
        </tr>
        <tr>
          <th>Description:</th>
          <td>{{ vehicle.description }}</td>
        </tr>
        <tr>
          <th>Class:</th>
          <td>{{ vehicle.vehicle_class }}</td>
        </tr>
        <tr>
          <th>Length:</th>
          <td>{{ vehicle.length }}</td>
        </tr>
        <tr>
          <th>Pilot:</th>
          <td><a href="/people/{{ vehicle.person_id }}/">{{ vehicle.person }}</a></td>
        </tr>
      </table>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
