{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
  <thead>
    <th>Title {{ request_sort("title") }}</th>
    <th>Year {{ request_sort("release_date") }}</th>
    <th>Director {{ request_sort("director") }}</th>
  </thead>
  <tbody>
    {% for row in films %}
    <tr>
      <td><a href="/films/{{ row.id }}/">{{ row.title }}</a></td>
      <td>{{ row.release_date }}</td>
      <td>{{ row.director }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
