{% extends "base.html" %}
{% block content %}
<section class="container">
  <div class="row">
    <h1 class="text-center">{{ location.name }}</h1>
    <div class="row">
      <div class="col-md-4">
        <table class="table table-striped">
          <tr>
            <th>Climate:</th>
            <td>{{ location.climate }}</td>
          </tr>
          <tr>
            <th>Terrain:</th>
            <td>{{ location.terrain }}</td>
          </tr>
          <tr>
            <th>Surface Water:</th>
            <td>{{ location.surface_water }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-8">
        {% if films %}
        <h2>Films</h2>
        <ul>
          {% for f in films %}
          <li><a href="/films/{{ f.id }}/">{{ f.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if people %}
          <h2>Residents</h2>
          <ul>
            {% for p in people %}
            <li><a href="/people/{{ p.id }}/">{{ p.name }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
