{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
  <thead>
    <th>Name {{ request_sort("title") }}</th>
    <th>Species {{ request_sort("species") }}</th>
    <th>Films {{ request_sort("films") }}</th>
  </thead>
  <tbody>
    {% for row in people %}
    <tr>
      <td><a href="/people/{{ row.id }}/">{{ row.name }}</a></td>
      <td>{{ row.species }}</td>
      <td>{{ row.films }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
